.pointer {
    color: #80005e;
}
.deleteLine {
    color: #7e00de !important;
}
.remark {
    color: #0300bb;
}
.animeList .watched{
    color: #ab1000;
}
.animeList .downloaded {
    color: #00651a;
}
.animeList a{
    color: black;
}
#animeListContainer {
    background-color: white;
}
.animeList #addAnime {
    color: red;
}
#infoPanel {
    background-color: #a3dfff;
    border-left-color: #ff6631;
}
#infoPanel .table {
    background-color: #f4faffb8;
}
#editPanel{
    background-color: wheat;
    border-left-color: #ff6631;
}
#searchResult {
    background-color: white;
}