@media only screen and (min-width: 780px){
    #animeListContainer{
        width: 700px;
        margin: 0 auto;
        
    }
    /*
    body {
        /* Center and scale the image nicely 
        background-image: url("data/21.jpg");
    	background-position: right;
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-attachment: fixed;
    }
    */
    body:after{
        content:"";
        position:fixed; /* stretch a fixed position to the whole screen */
        top:0;
        height:100vh; /* fix for mobile browser address bar appearing disappearing */
        left:0;
        right:0;
        z-index:-10; /* needed to keep in the background */
        background: url(data/21.jpg);
        background-position: right;
    	background-repeat: no-repeat;
    	background-attachment: scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .animeList{
        margin-left: 50px;
    }
    ::-webkit-scrollbar {
    width: 5px;
    }
    ::-webkit-scrollbar-track {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        /*margin:80px 0 5px 0;*/
    }
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: #f5f5f5;
    }
}
html {
    height: 100%;
}
body {
    font:18px/1.5 Helvetica, Arial, Verdana, sans-serif;
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
    background-color: gray;
    height: 100%;
    margin: 0;
    color: var(--text-color);
}
textarea, input {
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
}
h1 {
    margin:0;
    font-size:48px;
    font-weight:normal;
    line-height:48px;
    text-align: center;
}
strong {
    display:inline-block;
    width:65px;
}
td {
    max-width: 350px;
}
.pointer {
    cursor: pointer;
    color: var(--link-color);
}
.deleteLine {
    text-decoration: line-through !important;
    color: var(--deleted-text-color);
}
.remark {
    color: var(--remark-text-color);
}
.center {
    text-align: center;
}
.td-title {
    vertical-align: top;
    white-space: nowrap;
}
.animeList a{
    text-decoration: none;
    cursor: pointer;
}
.animeList .watched {
    color: var(--watched-text-color);
}
.animeList .downloaded {
    color: var(--downloaded-text-color);
}
#addAnime {
    color: var(--add-anime-text-color);
}
#animeListContainer {
    padding: 30px;
    background-color: var(--sheet-background);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
}
#animeListContainer .subtitle{
    text-align: center;
    padding: 20px;
}
.warpper {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    background-color: var(--backdrop-overlay);
}
#infoPanel {
    position: fixed;
    top: 0;
    right: 0;
    /*padding-left: 5px;*/
    margin: 10px;
    border-left: var(--info-border-color) 5px solid;
    border-radius: 5px;
    font-size: 16px;
    max-height: 95vh;
    overflow-y: auto;
    background-size: cover;
    background-color: var(--info-background);
}
#infoPanel .table {
    background-color: var(--info-poster-overlay);
}
#infoPanel #closeButtom {
    text-align: center;
    padding-right: 5px;
    cursor: pointer;
}
#infoPanel #comment {
    white-space: pre-wrap;
}
#editPanel{
    position: fixed;
    top: 0;
    margin: 10px;
    right: 0;
    padding: 10px;
    border-left: var(--edit-border-color) 5px solid;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--edit-background);
}
#editPanel input,textarea{
    width: 100%;
}
#editPanel #closeButtom {
    text-align: center;
}
#editPanel #saveButtom {
    text-align: center;
}
#addAnimeFloat {
    position: fixed;
    background-color: white;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    bottom: 1px;
    right: 1px;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
}
#addAnimeFloat .plus{
    font-size: 50px;
    background: linear-gradient(135deg, white, purple);/*#a849ff;*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    vertical-align: middle;
    line-height: 50px;
    height: 100%;
    cursor: pointer;
}

/* search bar template */
.search {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: white;
    border-radius: 30px;
    width: 45px;
    transition: width 0.5s, border-radius 0.5s, opacity 0.5s;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
}
.search__container {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    justify-content: end;
    height: 45px;
}
.search--active {
    width: 300px;
    border-radius: 5px;
}
.search__toggle {
    background-color: white;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
}
.search__bar {
    transition: all 0.5s;
    display: flex;
    flex-wrap: nowrap;
    align-content: end;
    padding: 5px;
    flex-grow: 1;
}
.search__bar input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding-top: 15px;
    font-size: medium;
    width: 100%;
    margin-left: 20px;
}
.search__result {
    display: none;
    overflow-y: scroll;
    max-height: 80vh;
    border-radius: 5px;
    background-color: var(--search-result-background);
}
.search--active .search__result {
    display: initial;
}

.search__item {
    padding: 5px 20px 5px 20px;
}
.search__item:hover {
    background: #0000001a;
    border-radius: 4px;
}

.magnifier {
    display: inline-block;
    cursor: pointer;
    transition: all 1s;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.magnifier::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 15px;
    right: 0;
    bottom: 0;
    left: 15px;
    width: 12px;
    height: 2px;
    background: black;
    transform: rotate(45deg);
    transition: all 0.5s;
}
.magnifier::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
    transition: all 0.5s;
}
.magnifier--active.magnifier::before {
    top: 0;
    left: 0;
    width: 25px;
}
.magnifier--active.magnifier::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: black;
    border-radius: 0%;
    transform: rotate(-45deg);
}

/* Dropdown */
.dropdown {
    position: fixed;
    top: 10px;
    left: 10px;
    color: black;
}
.dropdown__button {
    background-color: white;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
}
.dropdown__content {
    /* display: none; */
    height: 0;
    transition: all 0.5s;
    overflow: hidden;
}
.dropdown__trigger {
    z-index: 1;
    position: absolute;
}
.dropdown__item {
    position: absolute;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}
.dropdown__item a, .dropdown__item a:visited {
    color: inherit;
}
.dropdown__content--active {
    height: 200px;
}
.dropdown__content--active .dropdown__item {
    transform: translateY(calc(var(--n) * 40px));
    opacity: 1;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hamburger {
    display: inline-block;
}
  
.hamburger__bar1, .hamburger__bar2, .hamburger__bar3 {
    width: 22px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}
  
.hamburger--change .hamburger__bar1 {
    transform: translate(0, 7px) rotate(-45deg);
}

.hamburger--change .hamburger__bar2 {
    opacity: 0;
}

.hamburger--change .hamburger__bar3 {
    transform: translate(0, -7px) rotate(45deg);
}


.cover-viewer {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.cover-viewer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.icon-button {
    border-radius: 50px;
    font-size: 1.4em;
}

.gradient-text {
    background: linear-gradient(135deg, white, purple);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}