<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>琳的動漫清單</title>
        <link rel="shortcut icon" sizes="500x500" href="static/css/data/Anime-round-min.png">
        <link rel="apple-touch-icon" sizes="500x500" href="static/css/data/Anime-round-min.png">
        <link href="static/css/login.css" rel="stylesheet" type="text/css">
        
    </head>

    <body>
        <body>
            <div class="container">
                <form method="post" action="import" enctype="multipart/form-data">
                    <div class="title">匯入資料</div>
                    <input id="data" name="data" type="file">
                    <input type="submit" value="Import" class="loginBtn">
                </form>
                <a href="{{url_for('index')}}">返回</a>
            </div>
        </body>
    </body>
</html>